* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.hidden {
    font-size: 38px;
    font-weight: 200;

}

.text-white {
    transition:0.5s;
    font-size: 25px;
    font-weight: 100;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cycling.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.88;
}

.hero-text {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    width: 59%;
    top: 50%;
    left: 50%;
    color: #FFF;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding:40px;
}

.input h2 {
    margin: auto;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.input p {
    padding: 20px 0 80px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.inputValue{
    border-bottom: #3B82F6 2px solid;
    
}

.inputSubmit{
    font-size: 18px;
}

.display {
    text-align: center;
}
.trail-submit{
    font-size: 18px;
}

.trail h4 {
    padding: 0px;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.trail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.trail-search {
    border-bottom: #3B82F6 2px solid;
}
#map { 
    width: 50vw;
    height: 50vw;
}