* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.hidden {
    font-size: 38px;
    font-weight: 200;

}

.text-white {
    transition: 0.5s;
    font-size: 25px;
    font-weight: 80;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/cycling.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.88;
}

.hero-text {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    width: 59%;
    top: 50%;
    left: 50%;
    color: #FFF;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding:40px;
}

.input h2 {
    margin: auto;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.input p {
    padding: 20px 0 80px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.inputValue{
    border-bottom: #3B82F6 2px solid;
    
}

.inputSubmit{
    font-size: 18px;
}

.display {
    text-align: center;
}
.trail-submit{
    font-size: 18px;
}

.trail h4 {
    padding: 0px;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.trail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.trail-search {
    border-bottom: #3B82F6 2px solid;
}

/* API Styling */

#map { 
    width: 50vw;
    height: 50vw;
}
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #926952;
}
footer p {
    color: #FFF;
}
.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 28px 100px;
}
.form-container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left {
    height: 100%;
    background: url(./images/form\ image.jpeg) no-repeat center;
    background-size: cover;
}
.right {
    padding: 25px 40px;
}
h5 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}
h5:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #BCC0B2;
}
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
    background-color:#FFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area {
    min-height: 150px;
}
.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #BCC0B2;
    cursor: pointer;
    outline: none;
    border: none;
    color:#FFF;
    transition: .3s;
}
.btn:hover {
    background-color: #BCC0B2;
}
input:focus{
    outline: none;
}

.controls {
    border-bottom: #3B82F6 2px solid;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
